<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>    
</head>  
<body>  
<form method="POST" class="post-form" action="/user/post">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Create Details</h3>  
    </div>  
  </div>   
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Username:</label>  
    <div class="col-sm-4">  
        <input type="text" name="username" id="id_ename" required maxlength="100" value="{{ user.username }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Email:</label>  
    <div class="col-sm-4">  
        <input type="email" name="email" id="id_eemail" required maxlength="254" value="{{ user.email }}" />  
    </div>  
  </div> 
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">First name:</label>  
    <div class="col-sm-4">  
        <input type="text" name="first_name" id="first_name" maxlength="254" value="{{ user.first_name }}" />  
    </div>  
  </div> 
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Last name:</label>  
    <div class="col-sm-4">  
        <input type="text" name="last_name" id="last_name" maxlength="254" value="{{ user.last_name }}" />  
    </div>  
  </div> 
  {% if err %}
  <br><br>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label" style="color: red;">Error: {{ err }}</label>  
  </div> 
  {% endif %}
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  
