<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Users Records</title>   
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>User ID</th>  
        <th>Username</th>  
        <th>User Email</th>
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for user in users %}  
    <tr>  
        <td>{{ user.id }}</td>  
        <td>{{ user.username }}</td>  
        <td>{{ user.email }}</td>   
        <td>  
            <a href="/user/edit/{{ user.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/user/delete/{{ user.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/user/create" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  
